.DS_Store
.pytest_cache/
__pycache__/
catboost_info/
**/**.pt
!*.ipynb
**/**.npy
**/**.gz
**/**.sh
**/**.obj
**/**.png
**/**.tar
**/**.code-workspace
**/**.csv
**/READY
exp/**/**/results_catboost.json
exp/**/**/results_mlp.json
exp/**/**/*log*.txt
configs/
src/**/data/**/info.json
!src/**/data/adult/info.json
*.zip
*.pickle
junk/
RF/
exps/
*.yml
# keep environment.yml
!environment.yml
!environment_azure.yml
*.amltmp
*.amlignore
secrets.json
outputs/
processor_state/
*aml_checkpoints/
src/tabsynth.egg-info/
!.github/workflows/tests.yml
!tests/data/**/*.json
!tests/data/**/*.npy
!tests/data/**/*.csv
# any egg-info directory
*/**.egg-info/

